---
import Button from "../components/Button.astro"
import Link from "../components/Link.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro Component Library</h1>
		<Button>Button</Button>
		<p>Available props for Button</p>
		<ul>
			<li>Size: "sm" | "md" (default) | "lg"</li>
			<li>Type: "button" (default)| "submit"</li>
		</ul>
		<Button size="sm">Button</Button>
		<Button size="md">Button</Button>
		<Button size="lg">Button</Button>
		<Button notFilled>Button</Button>
		<Button radius="sharp">Button</Button>
		<Button radius="natural">Button</Button>
		<Button radius="round">Button</Button>
		<Button radius="natural" notFilled>Button</Button>
		<h2>Links</h2>
		<Link href="/">Link</Link>
	</body>
</html>